<%- include('partials/header') %>


<div class="jumbotron centered">
 <img width="200" height="300" src="https://image.flaticon.com/icons/svg/978/978063.svg"</img>
  <div class="container">
    <a class="btn btn-light btn-lg" href="/signup" role="button">Signup</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
